<!--
Copyright (c) 2020,2021 PickData SL (https://www.pickdata.net/)
All rights reserved.
node-red-contrib-emod-simulator - The BSD 3-Clause License
-->

<script type="text/javascript">
    RED.nodes.registerType('8SR-S-Config',{
        category: 'config',
        defaults: {
            name: {value:""},
            pulseWidthMsR1: {value:0, required: false, validate:RED.validators.regex(/^$|^[0-9]+$/)},
            pulseWidthMsR2: {value:0, required: false, validate:RED.validators.regex(/^$|^[0-9]+$/)},
            pulseWidthMsR3: {value:0, required: false, validate:RED.validators.regex(/^$|^[0-9]+$/)},
            pulseWidthMsR4: {value:0, required: false, validate:RED.validators.regex(/^$|^[0-9]+$/)},
            pulseWidthMsR5: {value:0, required: false, validate:RED.validators.regex(/^$|^[0-9]+$/)},
            pulseWidthMsR6: {value:0, required: false, validate:RED.validators.regex(/^$|^[0-9]+$/)},
            pulseWidthMsR7: {value:0, required: false, validate:RED.validators.regex(/^$|^[0-9]+$/)},
            pulseWidthMsR8: {value:0, required: false, validate:RED.validators.regex(/^$|^[0-9]+$/)}
        },
        label: function() {
            return this.name||"8SR-S-Config";
        }
    });
</script>

<script type="text/html" data-template-name="8SR-S-Config">
    <div class="form-row">
        <label for="node-config-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-config-input-name" placeholder="Name">
    </div>
    <hr>
    <h5>Pulse width milliseconds</h5>
    <div class="form-row">
        <label for="node-config-input-pulseWidthMsR1"><i class="fa fa-bolt"></i> Relay 0</label>
        <input type="number" id="node-config-input-pulseWidthMsR1" placeholder="0" min="0">
    </div>
    <div class="form-row">
        <label for="node-config-input-pulseWidthMsR2"><i class="fa fa-bolt"></i> Relay 1</label>
        <input type="number" id="node-config-input-pulseWidthMsR2" placeholder="0" min="0">
    </div>
    <div class="form-row">
        <label for="node-config-input-pulseWidthMsR3"><i class="fa fa-bolt"></i> Relay 2</label>
        <input type="number" id="node-config-input-pulseWidthMsR3" placeholder="0" min="0">
    </div>
    <div class="form-row">
        <label for="node-config-input-pulseWidthMsR4"><i class="fa fa-bolt"></i> Relay 3</label>
        <input type="number" id="node-config-input-pulseWidthMsR4" placeholder="0" min="0">
    </div>
    <div class="form-row">
        <label for="node-config-input-pulseWidthMsR5"><i class="fa fa-bolt"></i> Relay 4</label>
        <input type="number" id="node-config-input-pulseWidthMsR5" placeholder="0" min="0">
    </div>
    <div class="form-row">
        <label for="node-config-input-pulseWidthMsR6"><i class="fa fa-bolt"></i> Relay 5</label>
        <input type="number" id="node-config-input-pulseWidthMsR6" placeholder="0" min="0">
    </div>
    <div class="form-row">
        <label for="node-config-input-pulseWidthMsR7"><i class="fa fa-bolt"></i> Relay 6</label>
        <input type="number" id="node-config-input-pulseWidthMsR7" placeholder="0" min="0">
    </div>
    <div class="form-row">
        <label for="node-config-input-pulseWidthMsR8"><i class="fa fa-bolt"></i> Relay 7</label>
        <input type="number" id="node-config-input-pulseWidthMsR8" placeholder="0" min="0">
    </div>
</script>
